<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>com.liz.stickyprompter</string>
	<key>CFBundleName</key>
	<string>Sticky Prompter</string>
	<key>CFBundleDisplayName</key>
	<string>Sticky Prompter</string>
	<key>CFBundleExecutable</key>
	<string>StickyPrompter</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sticky Prompter listens to your voice to follow along with your script.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sticky Prompter transcribes your speech on-device to track your position in the script.</string>
</dict>
</plist>
